<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- Launch other relevant files-->
  <include file="/home/lucifer/catkin_ws/src/bot_description/src/launch/rviz.launch"/>

  <!-- World File -->
	<arg name="world_file" default="/home/lucifer/catkin_ws/src/bot_world/src/worlds/test.world"/> 
  
  <!-- Launch Gazebo World -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
	<arg name="use_sim_time" value="true"/>
	<arg name="debug" value="false"/>
	<arg name="gui" value="true" />
	<arg name="world_name" value="$(arg world_file)"/> 
	</include>

  <!-- Spawn My Robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
		args="-urdf -param robot_description -model bot.urdf.xacro"/>
    
  
</launch>